<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <h1>URL Shortener</h1>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <img class="index-img"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="img"
      style="max-width:30%; height: auto;">
  </div>
  <div class="d-flex justify-content-center mt-5">
    <form class="row" action="/restaurants" method="POST">
      <input type="text" class="form-control" id="validationServer01" placeholder="Input URL here..." name="name"
        value="" required>
      <div id="validationServer01Feedback" class="valid-feedback">
        Looks good!
      </div>
      <div id="validationServer01Feedback" class="invalid-feedback">
        Input error!
      </div>
      <script>
        const input = document.getElementById('validationServer01')
        input.classList.add('is-invalid')
        input.addEventListener("change", function () {
          if (input.value.length > 0) {
            input.classList.remove('is-invalid')
            input.classList.add('is-valid')
          } else {
            input.classList.remove('is-valid')
            input.classList.add('is-invalid')
          }
        })
      </script>
    </form>
  </div>
</div>